<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$(document).ready(function(){

$("#page-title").text('Stories');

const searchIndex = $(".search-results");
const searchResult = searchIndex.find("article");

searchResult.click(function(){
  window.location = $(this).find("a").attr("href");
  return false;
});

});
</script>

<style>

/* SEARCH RESULTS PAGE */

/* box on center of page */
#search-form {
  margin: 0 0 30px 0;
}
#edit-keys {
  width:100%;
  max-width: 560px;
  height: 29.5px;
  font-size: 19px;
  background: #ffffff;
  border: 1px solid #1e1e1e;
  border-radius: 4px;
  color: #414141;
}

/* hide "enter terms" label */
#search-form label {
  /*! visibility: hidden; */
  /*! display: none; */
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

/* magnifying glass */
#search-form #edit-submit {
  background-image: none;
  border-left: none;
  border-radius: 0 4px 4px 0;
  height: 45px;
  width: 50px;
  margin: 0 0 0 -55px !important;
  background: url(https://beta.projects.iq.harvard.edu/files/harvardlibraryux/files/search-icon.png) no-repeat center center;
}

/* weird checkbox next to searchbox 'retain current filters' */
.page-search .form-item-retain-filters {
 display: none !important;
}


/* remove spelling suggestion */
.spelling-suggestions {
  display:none;
}

/* search results h2 heading - repetitive */
#content > h2 {
  display: none;
}

/* SEARCH RESULTS TO MATCH STORY INDEX STYLES */
.page-search h1#page-title {
	font-size: 28px;
	line-height: 38px;
	margin:0 0 20px 0;
}

#content {
  padding-left: 0;
  padding-right: 0;
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
}

#content-column #content > * {
  padding-left: 50px;
  padding-right: 50px;
}

.node-header {
  font-size: 19px;
  margin: 0;
}

.item-list .pager {
 clear:both;
 text-align:left;
}

#footer {
  margin-top:60px;
}



</style>
