<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$(document).ready(function(){

$("#page-title").text('Stories');

const searchIndex = $(".search-results");
const searchResult = searchIndex.find("article");

searchResult.click(function(){
  window.location = $(this).find("a").attr("href");
  return false;
});

});
</script>

<style>

/* SEARCH RESULTS PAGE */
.menu-container {
  display:none;
}

h1#page-title {
 margin: 0 0 30px 0;
}

/* margin above people in search results removed */
.person-teaser-wrapper .node-header {
  margin-top: 0;
}

/* teaser summary shown in search results */
.field.field-name-body.field-type-text-with-summary.field-label-hidden.view-mode-teaser {
  display: block;
}


/* SEARCH BOX */
/* #block-boxes-solr-search-box {
  padding: 15px;
} */
#menu-bar nav:last-of-type {
  max-width: 275px;
  padding:15px;
}

.form-item.form-type-textfield.form-item-search-block-form {
  max-width: 270px;
  /* padding: 15px; */
  margin-left: 3px !important;
}

/* box on center of page */
#search-form {
 /* font-size:19px; */
  margin: 0 0 40px 0;
}
#edit-keys {
  width:100%;
  max-width: 620px;
  height: 29.5px;
  font-size: 19px;
  background: #ffffff;
  border: 1px solid #1e1e1e;
  border-radius: 4px;
  color: #414141;
}

/* hide "enter terms" label */
#search-form label {
  /*! visibility: hidden; */
  /*! display: none; */
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

/* magnifying glass */
#search-form #edit-submit {
  background-image: none;
  border-left: none;
  border-radius: 0 4px 4px 0;
  height: 45px;
  width: 50px;
  margin: 0 0 0 -55px !important;
  background: url(https://beta.projects.iq.harvard.edu/files/harvardlibraryux/files/search-icon.png) no-repeat center center;
}

/* remove spelling suggestion */
.spelling-suggestions {
  display:none;
}

/* search results */
.node-teaser, .node-teaser.node-person {
  border-bottom: 1px solid gray;
  padding-bottom: 40px;
  max-width:930px
}

.node-teaser:last-of-type {
  border-bottom:none;
}

.node-header {
  font-size: 19px;
  margin: 40px 0 20px 0;
}
.node-header a {
  color: #0579B8;
  font-weight:700;
	border-bottom: 3px solid transparent;
	transition: border 0.28s cubic-bezier(0.28,1.08,1,0.96);
}
.node-header a:hover, .node-header a:focus {
  border-color:rgba(5,121,184,0.3);
}

/* removed extra padding-right on read-more arrow button */
#columns a.node-readmore, #columns a.node-readmore::after {
  padding-right: 0;
}

/* indent bullets */
.field-name-body ol ul,
.field-name-body ul {
 padding-left:35px;
}



/* REMOVE THINGS */
/* 'site' in breadcrumbs */
.breadcrumb a:last-of-type {
  display: none;
}

.breadcrumb > span:nth-child(4) {
 display: none;
}

/* search results h2 heading - repetitive */
#content > h2 {
  display: none;
}

/* recenter header bar */
.region-header-second > div:nth-child(1) {
 padding-top: 0px;
}

/* CONTAINER */
#content-column #content > * {
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
#content-column #content > * > * {
  max-width: 930px;
}

.node-teaser, .node-teaser.node-person {
  max-width: 100%;
}
.node-person {
  margin:0;
}
.node-media-gallery, .node-event {
  margin:0;
  padding-left:0;
  padding-right:0;
}
.node-readmore {
  display: none;
}






</style>

<style>

/* SEARCH RESULTS TO MATCH STORY INDEX STYLES */
.page-search h1#page-title {
	font-size: 28px;
	line-height: 38px;
	margin:0;
}

#content {
  padding-left: 0;
  padding-right: 0;
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
}

#content-column #content > * {
  padding-left: 50px;
  padding-right: 50px;
}

/* .search-results {
 list-style:none;
 padding-left: 0;
 padding-right: 0;
} */



</style>
